/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 1px;
    font-family: 'Kanit-Light', sans-serif;    
}

input[type="text"], input[type="number"], input[type="search"] {
    width: 98%;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin; 
    border-color: #AAAAAA;
    height: 30px;
    font-family: 'Kanit-Light';
    color: #AAAAAA;
    font-size: large;    
}

*:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
 }
 
 input:focus:-moz-placeholder { /* Firefox 18- */
    color:transparent; 
 }
 
 input:focus::-moz-placeholder {  /* Firefox 19+ */
    color:transparent; 
 }
 
 input:focus:-ms-input-placeholder {  
    color:transparent;
 }
