<div class="transfer">

    <div class="transfer-header">
        <div class="logo"><img src="./assets/icons/arrows.png"></div>
        <div class="heading">Make a Transfer</div>
    </div>
    <div class="transfer-content">

        <div class="field">
            <div class="field-item field-label"><label for="name">From Account</label></div>
            <div class="field-item field-input"><input type="number" placeholder="Free Checking(4692) - ${{transfer.fromAccountBalance}}" disabled></div>
        </div>
        <div class="field">
            <div class="field-item field-label"><label for="name">To Account</label></div>
            <div class="field-item field-input"><input type="text" [(ngModel)]="transfer.toAccount" placeholder="{{transfer.toAccount}}"></div>
        </div>
        <div class="field">
            <div class="field-item field-label"><label for="name">Amount</label></div>
            <div class="field-item field-input input-group">
                <span class="input-group-addon">$</span>
                <input type="number" [(ngModel)]="transfer.amount" placeholder="{{transfer.amount}}">
            </div>
        </div>
        <div class="field submit">
            <button class="btn-submit" (click)="submit()">Submit</button>
        </div>
    </div>

</div>
