.transfer-header {
    display: flex;
    background-color: #1180aa;
    justify-content: center;
    align-items: center;    
}
.icon-container {
    flex: 0;
    padding-left: 15px;
}
.icon-image {
    mix-blend-mode: multiply;
}
.heading {
    flex: 12;
    color: white;
    height: 40px;    
    font-family: 'Kanit-Light';
    font-size: 22px;
    text-align: center;
}

.transfer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: whitesmoke;
}
.field {
    flex: 4;
    margin: 3%;
}
.field-label {
    text-transform: uppercase;
    font-family: 'Kanit-Medium';
}
.field-item {
    margin: 3%;
}

.submit {
    display: flex;
    padding-top: 5%;
    padding-right: 2%;
}
.btn-submit {
    margin-left: auto;
    background-color: #e25a2c;
    width: 200px;
    height: 45px;
    border-style: none;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
}


.input-group-addon {
    width: 1%;
    white-space: nowrap;
    display: table-cell;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

