<div class="transfer">

    <div class="transfer-header">
        <div class="icon-container"><img class="icon-image" src="./assets/icons/arrows.png"></div>
        <div class="heading" i18n="Title for the Preview Transfer card@@PreviewTransferHeader">Preview Transfer</div>
    </div>
    <div class="transfer-content">

        <div class="field">
            <div class="field-item field-label"><label for="name" i18n="lable for FromAccount@@FromAccount">From Account</label></div>
            <div class="field-item field-input"><input type="number" placeholder="${{transfer.fromAccountBalance}}" disabled></div>
        </div>
        <div class="field">
            <div class="field-item field-label"><label for="name" i18n="lable for ToAccount@@ToAccount">To Account</label></div>
            <div class="field-item field-input"><input type="text" placeholder="{{transfer.toAccount}}" disabled></div>
        </div>
        <div class="field">
            <div class="field-item field-label"><label for="name" i18n="lable for Amount@@PreviewAmount">Amount</label></div>
            <div class="field-item field-input input-group">
                <span class="input-group-addon">$</span>
                <input type="number" placeholder="{{transfer.amount}}" disabled>
            </div>
        </div>
        <div class="field submit">
            <button class="btn-submit" (click)="transferMoney()" i18n="lable for Submit button@@Transfer">Transfer</button>
        </div>
    </div>

</div>
