<div class="app">

  <div class="app-header">
    <div class="header-logo"><img src="./peachtreebank/assets/logo.jpg"></div>    
  </div>

  <div class="app-content">

    <div class="item-left" *ngIf="!isPreview" [ngClass]="{'make-transfer': !isPreview}">
      <app-make-transfer></app-make-transfer>
    </div>

    <div class="item-left" *ngIf="isPreview" [ngClass]="{'preview-transfer': isPreview}">
      <app-preview-transfer></app-preview-transfer>
    </div>

    <div class="item-right recent-transactions">
      <app-recent-transactions></app-recent-transactions>
    </div>
  </div>

</div>