<div class="transactions">

    <div class="header">
        <div class="logo"><img src="./assets/icons/briefcase.png"></div>
        <div class="heading" i18n="Title for the Recent Transactions card@@RecentTransactionHeader">Recent Transactions</div>
    </div>

    <div class="transaction-contents">
        <div class="actions">
            <div class="action-filter">
                <input type="text" #src [(ngModel)]="search" placeholder="Search by typing..." i18n-placeholder="Placeholder for Search filter@@SearchFilter">
                <div *ngIf="src.value.length > 0" class="search-cross" (click)="src.value = ''">X</div>
            </div>            
            <div class="action-sort">
                <div class="sort-by" i18n="Label for Sort by@@SortBy">Sort by</div>
                <div class="sort-fields" (click)="setSortColumn('transactionDate')">
                    <div i18n="Label for sortby Date@@SortByDate">Date</div>
                    <span *ngIf="sortColumn == 'transactionDate'">
                        <!-- TODO: need to make this better -->
                        <sup *ngIf="isDesc">&#9660;</sup>
                        <sup *ngIf="!isDesc">&#9650;</sup>
                    </span>
                </div>
                <div class="sort-fields" (click)="setSortColumn('merchant')">
                    <div i18n="Label for sortby Beneficiary@@SortbyBenificiary">Beneficiary</div>
                    <span *ngIf="sortColumn == 'merchant'">
                        <sup *ngIf="isDesc">&#9660;</sup>
                        <sup *ngIf="!isDesc">&#9650;</sup>
                    </span>
                </div>
                <div class="sort-fields" (click)="setSortColumn('amount')">
                    <div i18n="Label for sortby Amount@@SortbyAmount">Amount</div>
                    <span *ngIf="sortColumn == 'amount'">
                        <sup *ngIf="isDesc">&#9660;</sup>
                        <sup *ngIf="!isDesc">&#9650;</sup>
                    </span>
                </div>
            </div>
        </div>

        <div class="tabular-data">
            <div *ngFor="let item of transactions | transactionsFilter:src.value | transactionsSort:sortColumn:isDesc" class="data-row">
                
                <div class="data-item color-col" style="background-color: {{item.categoryCode}};">&nbsp;&nbsp;</div>
                <div class="data-item col-left align-content-center">{{item.transactionDate | date:'MMM dd'}}</div>
                <div class="data-item align-content-center merchant-logo-box"><img src="{{item.merchantLogo}}" class="merchant-logo"></div>
                <div class="data-item align-content-center">
                    <div class="merchant-info">
                        <div class="merchant-name">{{item.merchant}}</div>
                        <div class="transaction-type">{{item.transactionType}}</div>
                    </div>                    
                </div>
                <div class="data-item align-content-center col-right amount">{{item.amount | currency}}</div>                
            </div>
        </div>

    </div>

</div>
