.header {
    display: flex;
    background-color: #1180aa;
    justify-content: center;
    align-items: center;
}
.logo {
    flex: 1;
    padding-left: 15px;
}
.heading {
    flex: 1;
    color: white;
    height: 50px;
    padding-top: 0.5%;    
    font-family: 'Kanit-Light';
    font-size: larger;
}

.search-cross {
    cursor: pointer;
}

.transaction-contents {
    padding: 15px;
    background-color: whitesmoke;
}
.actions {
    display: flex;
    padding: 15px;
    align-self: center;
}
.action-filter {
    flex: 1;
    display: flex;
}
.action-sort {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
.sort-by {
    flex: 5;
    font-family: 'Kanit-Medium';
    flex-basis: auto;
    text-align: right;
    padding-right: 30px;
}
.sort-fields {
    flex: 4;
    flex-grow: 2;
    flex-shrink: 2;
    text-transform: uppercase;
    font-family: 'Kanit-Light';
    font-weight: 600;
    border-style: solid;
    border-width: thin;
    border-color: #AAAAAA;
    flex-basis: auto;
    text-align: center;   
    cursor: pointer; 
}

.tabular-data {
    margin-top: 2%;
}
.data-row {
    display: flex;
    border-style: solid;
    border-width: thin;
    align-content: center;
    border-color: #AAAAAA;
}
.data-item {
    flex: 0.2;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;    
}
.align-content-center {
    align-self: center;
}
.color {
    width: 20px;
}

.color-col {
    flex: 0;
    margin-right: 30px;
}


.merchant-name {
    display: flex;
    flex-direction: column;
}
.merchant-name {
    flex: 1;
    font-family: 'Kanit-Medium';
    font-size: large;
}
.transaction-type {
    flex: 1;
    font-family: 'Kanit-SemiBold';
    font-size: small;
}
.merchant-logo {
    width: 50px;
    height: 40px;    
}
.merchant-logo-box {
    display: inline-flex;
}
.amount {
    font-family: 'Kanit-Medium';
    font-size: large;
}
.col-left {    
    text-align: left;
}
.col-right {
    text-align: right;
    flex: 0.5;
    padding-right: 50px;
}



sup {
    vertical-align:text-top;
    font-size: x-small;
}
