@font-face {
    font-family: 'Kanit-Black';
    src: url(/assets/Kanit/Kanit-Black.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url(/assets/Kanit/Kanit-Bold.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Kanit-ExtraBlack';
    src: url(/assets/Kanit/Kanit-ExtraBlack.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Kanit-Light';
    src: url(/assets/Kanit/Kanit-Light.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Kanit-Medium';
    src: url(/assets/Kanit/Kanit-Medium.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url(/assets/Kanit/Kanit-SemiBold.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Kanit-Thin';
    src: url(/assets/Kanit/Kanit-Thin.ttf) format("truetype");
    font-weight:300;
}