/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 1px;
    font-family: 'Kanit', sans-serif;
}

@font-face {
    font-family: 'Kanit';
    src: url(/assets/Kanit/Kanit-Light.ttf) format("truetype");
    font-weight:300;
}

input[type="text"], input[type="number"], input[type="search"] {
    width: 98%;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: thin;  
    height: 30px;
    font-size: medium;  
}

*:focus {
    outline: none;
}